@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Xanh+Mono&display=swap');

body {
  font-family:'Cardo', Arial, sans-serif;
  font-size:calc(7.5px + 1vmin);
  color:black;
  background:white;
}

a {
  text-decoration: none;
  color:black;
  transition:0.5s;
}

a:hover {
  transition:0.5s;
  color:#666;
}

#index {
  text-align:center;
}

#index a {
  display:block;
  margin-bottom:1em;
}

.center {
  text-align:center;
}

.left {
  text-align:left;
}

.right {
  text-align:right;
}

#soundnote {
  position:fixed;
  left:2em;
  top:1.5em;
  font-size:0.8em;
}

#soundnote img {
  width:70%;
}

#soundnote .sound-off {
  opacity:0.4;
}

#soundnote .sound-on {
  opacity:1;
}

#eternal #soundnote {
  top:0.5em;
}

#container {
  height:100vh;
  display:flex;
  justify-content:center;
  align-items: center;
}

#container > div {
  flex:0 auto;
  cursor:pointer;
  position:absolute;
  margin:2em 0em;
}

#silent {
  color:#ddd;
  transition:0.5s;
}

#silent > div {
  margin:1em;
}

#silent:hover {
  color:#000;
  transition:0.5s;
  padding:1em;
  border:1px dotted #d5d5d5;
}

#silent:hover .center div {
  display:inline-block;
  transition:0.5s;
  margin:0em 1em;
}

#chaos-theory .line{
  display:flex;
  justify-content:space-between;
  text-align:left;
  width:70vw;
} 

#pattern-recog .line {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:20em;
}

#pattern-recog .word {
  background:none;
  border-radius:100%;
  width:3em;
  height:3em;
  text-align:center;
}

#pattern-recog .filled {
  color:rgb(133, 133, 133);
}

#pattern-recog .faded {
  color:#b6b6b6;
}

#pattern-recog .playing {
  color:#000;
}

#chaos-theory .word, #pattern-recog .word { 
  margin:0.5em;
}

#chaos-theory .hide {
  color:white;
}

#eternal {
  width:33vw;
}

#eternal #progressbar {
  width:100%;
  height:100%;
  position:fixed;
  left:0;
  top:0%;
  z-index:-2;
  background:#fff;
}

#eternal #current {
  width:0%;
  height:100%;
  position:fixed;
  background:#000;
  left:0;
  top:0%;
  z-index:-1;
}

header {
  position:fixed;
  left:0;
  top:0;
  margin:1.5em 2em;
  width:100%;
}

#eternal > div {
  margin:1em 0em;
  z-index:999;
}

.flash-on {
  color:#000!important;
}

.flash-on:hover .center, .flash-on:hover .left, .flash-on:hover .right {
  color:#888!important;
}

.flash-on .active {
  color:#fff!important;
}

#eternal .center, #eternal .left, #eternal .right, #eternal {
  color:rgb(238, 238, 238);
  transition:0.5s;
} 

#eternal:hover .center, #eternal:hover .left, #eternal:hover .right {
  color:#d5d5d5;
}

.flash-off {
  color:#fff!important;
}

.flash-off .active {
  color:#000!important;
}

#title {
  margin-bottom:1em;
  text-transform:lowercase;
  /* font-family:"Xanh Mono", "Cardo", Arial, Helvetica, sans-serif; */
}

#desc {
  margin-bottom:3em;
  color:#888;
}

#chaos-grid {
  width:40vw;
  height:60vh;
  position:fixed;
  top:20%;
  left:30%;
  z-index:999999;
  overflow:hidden;
  text-align:center;
}

#chaos-grid .bit {
  width:1px;
  height:1px;
  margin:2px;
  background:black;
  display:inline-block;
  text-align:center;
}

#chaos-grid .filled {
  background:white;
}